.contact{

     
        background-image: url("../lib/Contact-us-background.jpg");
        background-size: 100%;
        
        height: 800px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
    
}