/* 
nav.header-navigation .navbar-nav {
    color: red;
} 
*/

nav.header-navigation .my-nav {
    color: black !important;
    font-weight: bold;
}

nav.header-navigation .sign {
    z-index: 0;
}

nav.header-navigation .sign a {
    margin-top: 6px;
}